<?PHP
//// $id_firm_url = Айди внутренний при удалении фото и.т.п.
//// $selector_firm_url = Селектор (ИД) организации
//// $name_firm_url = Имя организации

$firm_module_url = '/firm/';
$firm_myfirm_url = '/firm/my_firm/';
$firm_favorites_url = '/firm/favorites/';
$firm_add_url = '/firm/add/';
$firm_edit_cabinet_pages_photos = "/firm/cabinet/" . $selector_firm_url . "/photos/edit/" . $id_firm_url . "";
$firm_del_cabinet_pages_photos = "/firm/cabinet/" . $selector_firm_url . "/photos/del/" . $id_firm_url . "";
$firm_edit_cabinet_pages_files = "/firm/cabinet/" . $selector_firm_url . "/files/edit/" . $id_firm_url . "";
$firm_del_cabinet_pages_files = "/firm/cabinet/" . $selector_firm_url . "/files/del/" . $id_firm_url . "";
$firm_edit_cabinet_pages_brands = "/firm/cabinet/" . $selector_firm_url . "/brands/edit/" . $id_firm_url . "";
$firm_del_cabinet_pages_brands = "/firm/cabinet/" . $selector_firm_url . "/brands/del/" . $id_firm_url . "";
$firm_edit_cabinet_pages = "/firm/cabinet/" . $selector_firm_url . "/pages/edit/" . $id_firm_url . "";
$firm_del_cabinet_pages = "/firm/cabinet/" . $selector_firm_url . "/pages/del/" . $id_firm_url . "";
$firm_del_pages_photo = "/firm/selector/delfoto/" . $selector_firm_url . "/";
$firm_rup_pages = "/firm/rup/" . $selector_firm_url . "/";
$firm_rdo_pages = "/firm/rdo/" . $selector_firm_url . "/";

//// фотоконкурс ////
$concurs_home_url = "/concurs/";
$concurs_photo_url = "/concurs/photo/";
$concurs_add_url = "/concurs/photo/add/";

//// блоги ////
$blogi_home_url = "/blogi/";
$blogi_add_url = "/blogi/add/";

//// тв программа ////
$tv_home_url = "/tv-program/";

//// фотоальбомы ////
$all_foto_link = "/fotoalbum/";

//// афиша ////
$afisha_home_url = "/afisha/";
$afisha_onlinevideo_home_url = "/afisha/onlinevideo/";
$afisha_add_home_url = "/afisha/add/";

//// работа ////
$work_home_url = "/work/";
$work_add_resume = "/work/add/resume/";
$work_add_vacancy = "/work/add/vacancy/";
$work_my = "/work/my/";

//// погода ////
$weather_home_url = "/weather/";
$weather_date_url = "/weather/date/";

//// еда ////
$eda_home_url = "/eda/";
$eda_recipe_url = "/eda/recipe/";
$eda_recipeadd_url = "/eda/recipe/add/";
$eda_otzivi_url = "/eda/otzivi/";
$eda_mesta_url = "/eda/mesta/";

//// консультации ////
$faq_home_url = "/faq/";

//// новости ////
$news_home_url = "/news/";
$news_firm_url = "/news/company/";

//// товары /////
$market_category_url = "/market/category/";

//// скидки ////
$skidki_home_url = "/skidki/";

//// лекарства ////
$pharmacy_home_url = "/pharmacy/";

//// образование ////
$obrazovanie_home_url = "/obrazovanie/";

//// рейтинг сайтов ////
$rating_home_folder = "rating/";
$rating_home_url = "/rating/";
$rating_add_url = "/rating/add/";
$rating_edit_url = "/rating/edit/";
$rating_del_url = "/rating/del/";
$rating_my_url = "/rating/my/";
$rating_search_url = "/rating/search/";
$rating_code_url = "/rating/code/";

//// игры ////
$arcade_home_url = "/arcade/";

//// праздники ////
$holiday_home_url = "/holiday/";

//// справка ////
$spravka_home_url = "/spravka/";

//// банки ////
$banki_home_url = "/banki/";

//// интернет магазины ////
$catalogshops_home_url = "/online-stores/";

//// группы пользователей ////
$clubcat_module_url = '/groups/';
$clubcat_add_url = '/groups/add/';

//// недвижимость ////
$nedvigimost_home_url = "/nedvigimost/";
$nedvigimost_doska_url = "/nedvigimost/doska/";
$nedvigimost_doska_my = "/nedvigimost/doska/my/";
$nedvigimost_doska_add_url = "/nedvigimost/add_obj/";

//// авто ////
$autocat_home_url = "/autocat/";
$autocat_doska_url = "/autocat/doska/";
$autocat_distanse_url = "/autocat/distanse/";
$autocat_autocatalog_url = "/autocat/catalog/";
$autocat_doska_add_url = "/autocat/doska/add/";
$autocat_doska_edit_url = "/autocat/doska/edit/";
$autocat_legal_url = "/doska_legal.html";
$autocat_rules_url = "/doska_rules.html";

//// доска объявлений ////
$doska_home_url = "/doska/";
$doska_add_url = "/doska/add/";
$doska_myobj_url = "/doska/my_obj/";
$doska_favorite_url = "/doska/sms_favorite/";

//// архив видео ////
$video_module_url = '/archiv_video/';
$video_add_url = '/archiv_video/add_video/';
$video_user_url = '/archiv_video/users/';
$video_com_url = '/?do=archiv_video&action=about_archiv_video&action=view_event&doaction=del&user='.$from.'&name='.$from.'&idmusic='.$id.'&id='.$nid.'';

//// архив музыки ////
$music_module_url = '/archiv_music/';
$music_add_url = '/archiv_music/add_music/';
$music_user_url = '/archiv_music/users/';
$music_addme_url = '/archiv_music/users/';
$music_com_url = '/?do=archiv_video&action=about_archiv_video&action=view_event&doaction=del&user='.$from.'&name='.$from.'&idmusic='.$id.'&id='.$nid.'';

//// реклама ////

$advert_module_url = '/advert/';
$advert_myfirm_url = '/my_advert/';

//// реклама ////

$city_module_url = '/citys/';

//// знакомства ////

$datting_module_url = '/datting/';

//// кредиты /////

$koshelek_module_url = '/koshelek/';
$koshelek_myfirm_url = '/moi_krediti/';

//// профиль пользователей ////

$profile_module_url = '/user/';
$profile_page_members_url = '/members/';
$profile_page_interes_url = '/members/interes/';
$profile_page_deyatelnost_url = '/members/deyatelnost/';
$profile_register_url = '/register/';
$profile_lostpassword_url = '/lostpassword/';
$profile_feedback_url = '/feedback/';
$profile_link_url = 'user/';

//// статические страницы /////

$about_url = '/about.html';
$agreement_url = '/agreement.html';
$mobile_url = '/index.php?action=mobile';
$addnews_url = '/addnews.html';

?>